<div >
   <div> <input type="button" class="btn btn-warning" ng-disabled="Enter==true" ng-click="Exit=false; isEnter=true;" value="signin enter" />
    <input type="button" class="btn btn-warning" ng-disabled="Enter==false" ng-click="Exit=true; isEnter=true" value="signin exit" /></div>
    <br />
    <br />
    <div  style="width:100%">
        <div style="margin-left:2%;" class="label-default">
            <div ng-if="show==true" class="alert-link">
                 you worked {{sumh}} hours,have a good day
            </div>
        </div>

        <div class="myFadeAnimation" ng-if="isEnter==true" style="width:100%;">
            <div class="message" >
                <br />
                <div ng-if="Enter==false" style="color:black;">good morning, have a nice day!!</div>
                <br />
            </div>
            <br />
            <time-Drv  ng-if="isEnter==true" timetype="enterTime" timefunction="SaveEnter(enterTime)" ></time-Drv>
        </div>


    </div>
</div>
